// * 3-Image composition
.composition {
	position: relative;

	&_photo {
		width: 60%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
		border-radius: 1rem;
		position: absolute;
		transition: all 0.3s ease;
		z-index: 1;

		@include respond(tab-port) {
			width: 30%;
			float: left;
			position: relative;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
			margin-top: 3rem;
		}

		&--p1 {
			left: 2rem;
			top: -2rem;

			@include respond(tab-port) {
				top: 0;
				transform: scale(1.1);
			}
		}
		&--p2 {
			right: -5rem;
			top: 4rem;

			@include respond(tab-port) {
				top: -0.5rem;
				transform: scale(1.4);
				z-index: 3;
			}
		}
		&--p3 {
			left: 22%;
			top: 13rem;

			@include respond(tab-port) {
				top: 0rem;
				left: 6rem;

				transform: scale(1.1);
			}
		}

		&:hover {
			transform: scale(1.05) translateY(-0.5rem);
			box-shadow: 0 3rem 4rem rgba($color-black, 0.4);
			z-index: 2;
			outline: 0.5rem solid $color-primary;
			outline-offset: 0rem;
		}
	}

	&:hover &_photo:not(:hover) {
		transform: scale(0.95);
	}
}
