body {
  font-family: 'Lato';
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: $color-grey-dark;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0.5rem;
  }
}

.primary-heading {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;

    @include respond(tab-port) {
      letter-spacing: 2.5rem;
    }

    @include respond(phone) {
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.71rem;
    animation-name: moveInRight;
    animation-duration: 1s;

    @include respond(tab-port) {
      letter-spacing: 1rem;
    }

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.3);
  }
}

.tertiary-heading {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
