.section-about {
    background-color: $color-grey-light-1;
    padding: 22rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 19rem 0;
    }
    @include respond(phone) {
        margin-top: -15vh;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.85),
            rgba($color-primary-dark, 0.85)
        ),
        url('/images/nat-4.jpg');
    transform: skewY(-6deg);
    margin-top: -9rem;

    //to select the direct child of section-features : row (skew to + 7deg)
    & > * {
        transform: skewY(6deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
    @include respond(phone) {
        margin-top: -5rem;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -15vh;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }

    @include respond(phone) {
        margin-top: -10vh;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 8rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 1),
        rgba($color-primary-dark, 1)
    );

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
